.popular	
	padding-top: 80px
	padding-bottom: 100px
	background-color: rgba(253, 253, 253, 1)
	&__title        
		font-size: 24px
		font-weight: 400         
		text-align: center
		color: $highlighting-in-yellow
		span
			margin-top: 8px                   
			font-size: 32px
			font-weight: 800                              
			text-align: center
			color: rgba(24, 18, 30, 1)
	&__wrapper				
		position: relative
		margin-top: 50px
		display: grid
		grid-template-columns: repeat(3,380px)
		grid-auto-columns: auto		
		column-gap: 20px
		transform: translateZ(0)		
		overflow-x: unset
		overflow-y: auto
		.rating					
			display: flex
			align-items: center
			font-size: 14px
			font-weight: 700
			position: absolute
			// width: 65px
			// height: 32px
			right: 0
			top: 50px
			border-radius: 4px 0px 0px 4px
			background: rgba(253,253,253,.4)
			-webkit-backdrop-filter: blur(2px)
			backdrop-filter: blur(2px)
			padding: 4px 8px 4px 36px
			background-image: url(../icons/popular/star1.svg)
			background-repeat: no-repeat
			background-position: 4px
			transition: all 1.5s ease-in-out 
		.active
			opacity: 0
			transition:  6s 

		&_items			
			height: 500px
			width: 380px			
			border-radius: 32px
			overflow: hidden
					
			.item__wrapper
				position: relative
				display: flex
				flex-direction: column
				height: 200%
				
				.item__on
					height: 50%
																
					&_img
						height: 500px
				
				.item__dscr
					height: 50%					
					background: rgba(255,255,255,.2)				
					-webkit-backdrop-filter: blur(3px)
					backdrop-filter: blur(5px)
					border-radius: 0 0 32px 32px
					padding: 20px 32px 20px 32px 
					display: flex
					flex-direction: column
					align-items: stretch
					transform: translateY(-90px)
					transition: all 1.5s ease-in-out 
					&-active											
						border-radius: 32px
						padding: 20px 32px 20px 32px												
						transform: translateY(-100%)	
						transition: 1.5s
							
					
					
					.price							
						display: grid
						grid-template-columns: 1fr auto
						grid-template-rows: auto
						column-gap: 35px				
						align-items: center							
						&__title
							display: grid
							grid-template-rows: repeat(2,auto)
							gap: 0
							color: #fdfdfd
							font-size: 24px
							font-weight: 700										
							span
								color: #fdfdfd
								font-size: 14px
								font-weight: 400
						&__price
							padding: 8px 16px										
							color: #fdfdfd
							font-size: 20px
							font-weight: 700						
							border-radius: 4px
							background: rgba(255,255,255,.3)		
					.dscr
						margin: 38px  0 105px				
						color: #fdfdfd
						font-size: 16px
						font-weight: 400
						line-height: 1.5
						text-overflow: ellipsis	
					.hover_btn
							// opacity: 0		
					
				

											
					
												

				
				
				
									
					
			
				
		.mountains
			background: url('../img/popular/mountains.png') center center/cover no-repeat
		.yoga
			background: url('../img/popular/yoga.png') center center/cover no-repeat
		&_img
			height: 410px
			width: 100%
		a
			text-decoration: none
		
			
				
			&__btn
				// position: absolute
				// transition: transform  .3s ease-in-out
				// opacity: 0
				// bottom: 20px			
		.hover			
			
			// overflow: hidden
			// transform: translateZ(0)
			// backface-visibility: hidden
			
	
		                 
	&__btn
		&_wrapper
			margin-top: 50px
			display: flex            
			justify-content: center

